.circle-marker { 
    border: px solid blue; 
    fill: lightblue; 
    stroke: purple; 
    -webkit-transform: scale(1); 
    -webkit-transform-origin: center; 
    transform: scale(1); 
    transform-origin: center; 
    transform-box: fill-box;  /* make the element behave seperately to origin (0,0) */
  } 
   
  .circle-marker:hover 
  { 
    -webkit-animation-name: pulsar; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-direction: alternate; 
    animation-name: pulsar; 
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
    -webkit-transform-origin: center; 
    transform-origin: center;  
  } 
   
  @keyframes pulsar { 
    from { 
        fill: red; 
    } 
    to { 
        fill: red; 
        transform: scale(2); 
        transform-origin: center; 
    } 
  }  